.center {
    padding: 20px;
  overflow: scroll; /* Enable scrolling for messages */
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.message {
    max-width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.own-message {
    align-self: flex-end;
    justify-content: flex-end;
}

.message img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    img{
        width: 300px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;

    }
}

.texts p {
    padding: 10px;
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 10px;
    max-width: 90%;
    word-wrap: break-word;
    margin: 0;
    text-align: left;
}
span{
    font-size: 12px;
}

.own-message .texts p {
    background-color: #5183fe;
    color: white;
    align-self: flex-end; /* Ensure the entire message aligns to the right */
    margin-left: auto; /* Push the message to the right */
    margin-right: 0;
}
.own-message .texts span {
    margin-left: auto; /* Align span to the right side */
    margin-right: 0;
    text-align: left; /* Align the span text itself to the left */
    display: block; /* Make sure span behaves like a block-level element */
}

/* Optional: Add left and right padding to the center chat area */
.center {
    padding-left: 20px;
    flex: 1;
}
