.user_window {
  width: 95vw;
  height: 90vh;
  max-width: 1300px;      /* Maximum width */
  min-width: 320px;       /* Minimum width to avoid too small size */
  max-height: 800px;      /* Maximum height */
  min-height: 500px;      /* Minimum height to avoid too small size */
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: auto;
  overflow: hidden;
  display: flex;
}
